:root {
    --background-1: #f0956a; /* 11 */
    --background-2: #e6d4ba; /* 1 */
    --background-3: #437c90; /* 14 */
    --textos-portada: #69351d; /* 5 */
    --nombres-novios: #7b5f59; /* 8 */
    --color-10: #2c2f30;
    --button-text: #eae0cc; 
    --titulos-h3: #ac4335; /* 13 */
    --parrafos: #2c2d24;
}

html,
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    font-style: normal;
    display: flex;
    flex-direction: column;
    /*display: block;*/
    margin: 0;
    overflow-x: hidden;
    /*scroll-behavior: smooth;*/
    background: linear-gradient(to bottom,
            var(--background-1) 0%,
            var(--background-2) 60%,
            var(--background-3) 100%
    );
}

/* SECCIONES EN GENERAL */

header,
section,
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    /*padding: 1em auto;*/
    /*margin: 2em 0; */
}

/* textos */
h3 {
    font-family: "Noto Serif Hentaigana", serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    color: var(--titulos-h3);
    /*margin-top: 2em;*/
}

h5 {
    font-family: "Noto Serif Hentaigana", serif;
    font-size: 0.9em;
    font-style: italic;
    font-weight: 400;
    color: var(--background-3);
    /*margin-top: 1em ;*/
}

p {
    font-size: 0.7em;
    font-style: normal;
    margin: 0.5em 1.5em;
    color: var(--parrafos);
}

/* PORTADA (HEADER)  */
.portada {
    /*
    position: relative;*/
    background: url("./media/ramo-transparente.webp") center/cover no-repeat;
    margin: 0;
    width: 100%;
    height: 100vh;
    min-height: 80vh;
    background-attachment: fixed;
    /*background-attachment: scroll;*/
    /*transform: translateZ(0)*/
}

.portada::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(230, 212, 186, 0.4);
    z-index: 1; 
} 

.portada p {
    font-family: "Noto Serif Hentaigana", serif;
    font-style: italic;
    color: var(--textos-portada);
    font-weight: 300;
    font-size: 0.9em;
    position: relative;
    z-index: 3;
}

.portada h3 {
    font-style: italic;
    /* font-size: 1em; */
    color: var(--textos-portada);
    z-index: 3;
}

.nombres-novios h1 {
    position: relative;
    margin: 0;
    color: var(--nombres-novios);
    font-family: "Ms Madi", cursive;
    font-weight: 500;
    font-size: 4em;
    z-index: 3;
}

#h1-1 {
    transform: translateX(-50px);
    /* Ajuste a la izquierda */
}

#h1-2 {
    font-size: 3em;
}

#h1-3 {
    transform: translateX(50px);
    /* Ajuste a la derecha */
}

#playAudio {
    position: fixed;
    top: 0.9em;
    right: 10%;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 800;
    transition: transform 0.2s ease-in-out;
    animation: float 1.5s infinite ease-in-out;
    /* para que la flecha siempre este al medio del boton */
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    /* Se mueve hacia arriba */
    100% {
        transform: translateY(0px);
    }

    /* Vuelve a la posición original */
}

#playAudio:active {
    transform: scale(0.9);
    border: none;
}

#scrollToFecha, #scrollToSpots {
    position: relative;
    /*bottom: 1em;
    left: 50%; */
    margin: 0.5em auto;
    left: 10% ;
    transform: translateX(-50%);
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--textos-portada);
    animation: bounce 1.5s infinite;
    z-index: 3;
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(10px);
    }
}

/* SECCION FECHA */
.fecha {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*justify-content: center;
    text-align: center; */
}

.fecha h3 {
    margin: 5em auto;
    color: var(--background-3);
}

#marco-sup, #marco-inf {
    position: absolute;
    width: 100%;
    max-height: 40%;
    object-fit: contain; /* Evita distorsión */
    left: 0;
}

#marco-sup {
    top: 0;
}

#marco-inf {
    bottom: 0;
}

/*   */
.locations{
    margin-top: 1.5em; 
}

.extras{
    margin: 1.8em auto;
}

.extra-div {
    padding: 1em 1em;
}
/*
.extra-div p {
    font-size: 0.7em;
}
*/
.icon {
    width: 15vw;
    height: auto;
    place-self: center;
}

.button {
    display: inline-block;
    margin: 2em auto;
    width: auto;
    padding: 1em 2em;
    font-size: 0.7em;
    background-color: var(--background-3);
    color: var(--button-text);
    border: none;
    border-radius: 0.8em;
    text-decoration: none;
}

/* GALERIA DE FOTOS  */
.pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.pics-h3{
    margin: 2em auto;
}

.pics img {
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 0.8em;
    transition: transform 0.3s ease;
}

.pics img:hover {
    transform: scale(1.1);
}

/* CUANDO ABRO CADA FOTO */
.lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(155, 180, 211, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.lightbox img {
    max-width: 90%;
    max-height: 70vh;
    transition: transform 0.3s ease-in-out;
}

/* Mostrar el Lightbox */
.lightbox.show {
    opacity: 1;
    visibility: visible;
}

/* Botón de Cerrar */
.close {
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.close:hover{
    transform: scale(1.1);
}

/* Botones de Navegación */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*background: rgba(90, 107, 124, 0.7); */
    background: none;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    color: var(--color-10);
    width: 15%;
    min-width: 50px;
    padding: 15px;
}
.prev:active,
.next:active {
    color: white;
}
.close:active {
    color: var(--color-10);
}

.prev {
    left: 5%;
}
.next {
    right: 5%;
}

.image-counter {
    position: absolute;
    top: 7%;
    right: 18%;
    font-size: 0.8em;
    color: white;
}

/* ------- */

footer h3 {
    color: var(--background-2);
    font-family: "Ms Madi", cursive;
    font-size: 2em;
}

footer img{
    width: 40vw;
    height: auto;
    place-self: center;
    margin-top: 2.5em;
}

/* PARA PANTALLAS MAS GRANDES */
@media(min-width: 500px) {
    .lugares {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .pics img {
        min-width: 25vw;
    }

    .lightbox img {
        max-width: 50vw;
        max-height: 80vh;
        height: auto;
        width: 100%;
    }

    .lightbox img:hover{
        transform: none;
    }
    
    /* Botón de Cerrar */
    .close {
        right: 20%;
        font-size: 2em;
        color: white;
    }
    .close:hover{
        transform: scale(1.2);
    }

    .image-counter {
        top: 8%;
        right: 78%;
        font-size: 1.2em;
        color: white;

    }

    /* Botones de Navegación */
    .prev,
    .next {
        font-size: 1.5em;
        width: 10%;
        transform: none;
        top: 45%;
        background: none;
        color: white;
    }

    .prev:hover,
    .next:hover {
        transform: scale(1.2);
    }
    .prev {
        left: 22%;
    }
    .next {
        right: 22%;
    }

    /* textos */
    p {
        font-size: 0.8em;
    }

    h5 {
        font-size: 1em;
    }

    h3{
        font-size: 1.1em;
    }
    
    .portada p {
        font-size: 1.1em;
    }
    
    .nombres-novios h1 {
        font-weight: 500;
        font-size: 4em;
    }
    
    #h1-2 {
        font-size: 2.5em;
    }
        
 /* revisar iconos y boton del salon */
 /*   
 .icon {
        display: block;
        margin: 0 40% 0%;
        margin-top: 1em;
        height: auto;
        overflow: hidden;
        width: 20%;
        align-self: center;
        max-width: 100px;
    }

    button {
        display: block;
        margin: 40px auto;
        width: 40%;
        padding: 15px;
        font-size: 0.8em;
        background-color: var(--color-3);
        color: var(--color-1);
        border: none;
        border-radius: 10px;
    }
    */
}